@charset "UTF-8";

html {overflow-x : hidden;}

/* 아이콘 + 로고 + 검색창 */
#blog_header{
	width : 100vw;
	height: 10vh;
	background-color: skyblue;
}

/*============================================================================================================*/

/* 메인 화면 */
#blog_main{
	width : 100vw;
	height: auto;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	margin-bottom: 5vh;
}

/*============================================================================================================*/

/* 카테고리 및 게시글 */
#post_area{
	width : 57vw;
	height: auto;
	min-height: 90vh;
	margin-right : 3vw;
}
/* 카테고리 */
#category{
	width: 100%;
	height: 8vh;
	background-color: gray;
}
/* 게시글 목록 */
#board{
	width: 100%;
	height: auto;
}
/* 게시글 */
.post{
	width : 100%;
	height: 30vh;
	display : flex;
	justify-content : space-between;
	border-bottom: 1px solid #dfe4ea;
	margin-top: 1vh;
}
/* 게시글 내용 */
.post_content{
	width : 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/* 프로필 사진  + 닉네임 */
.post_profileAndName{
	width: 100%;
	height: 20%;
	margin-top: 1.7%;
}
/* 게시글 제목 */
.post_title{
	width: 100%;
	height: 17%;
}
.post_title>a{
	text-decoration:none;
	color : black;
	font-weight: bold;
	font-size: 1.3em;
}
.post_title>a:hover{
	text-decoration: underline;
}
.post_title>a:visited{
	text-decoration: none;
}
/* 게시글 내용 */
.post_text{
	width: 100%;
	height: 32%;
}
.post_text>a{
	text-decoration:none;
	color : black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    font-weight: lighter;
}
.post_text>a:hover{
	text-decoration: underline;
}
.post_text>a:visited{
	text-decoration: none;
}
/* 좋아요 + 댓글 */
.post_goodAndComment{
	width: 100%;
	height: 8%;
	margin-bottom: 3%;
}
.post_goodAndComment>span{
	color : #a4b0be;
	font-size: 0.9em;
}
.post_goodAndComment>span:last-child{
	margin-left: 1vw;
}
/* 게시글 이미지 */
.post_image{
	width : 25%;
	height: 100%;
	background-color: blue;
}
/* 페이징  */
#paging{
	width: 100%;
	height: 5.5vh;
	margin-top: 3vh;
	background-color: yellow;
}

/*============================================================================================================*/

/* 광고 및 개인정보 */
#info_area{
	width : 20vw;
	height: auto;
	min-height: 90vh;
	background-color: blue;
}