@charset "UTF-8";

html {overflow-x : hidden;}

/* 숨김 처리 */
.hidden{
	display: none;
}

/*============================================================================================================*/

/* 아이콘 + 로고 + 검색창 */
#blog_header{
	width : 100vw;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #a29bfe;
}
#blog_header>section{
	width : 80vw;
	height: 100%;
	display: flex;
}

/* 로고 */
#blog_header>section>#logo{
	width: 17%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Allison', cursive;
	font-weight: bold;
	font-size: 3.5em;
	/* color: #8b008b; */
	color : white;
}
#blog_header>section>#logo>span{
	cursor: pointer;
}

/* 검색창 */
#blog_header>section>#search{
	width: 37%;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
#blog_header>section>#search>#search_box{
	width: 100%;
	height: 80%;
	display:flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	overflow-y: hidden;
}
#blog_header>section>#search>#search_box>#search_object{
	width: 25%;
	height: 100%;
	color: #A29BFE;
	background-color: white;
	border: 0;
}
#blog_header>section>#search>#search_box>#search_object:focus{
	outline: none;
}
#blog_header>section>#search>#search_box>#search_text{
	width: 55%;
	height: 100%;
	text-indent: 10px;
	background-color: white;
}
#blog_header>section>#search>#search_box>#search_text:focus{
	outline: none;
}
#blog_header>section>#search>#search_box>#search_button{
	width: 20%;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
}

/* 빈 공간 */
#blog_header>section>#blank{
	width: 30%;
	height: 100%;
}

/* 소형 로그인 버튼 전용 공간*/
#blog_header>section>#login_small{
	width: 10%;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
#blog_header>section>#login_small>div{
	width: 67.5%;
	height: 43%;
	display: flex;
	justify-content: center;
	align-items: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1.5px solid #6c5ce7;
    text-align: center;
    line-height: 1;
    margin-top: 5%;
    color: #6c5ce7;
    font-weight: bolder;
    font-size: 0.9em;
    cursor: pointer;
}

/* 메뉴 모음집 버튼 */
#blog_header>section>#all_menu{
	width: 6%;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.75em;
    border-left: 1px solid #6c5ce7;
    border-right: 1px solid #6c5ce7;
    cursor: pointer;
}